/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Vibrant gradient */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Bar */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347; /* Tomato color on hover */
}

/* Main Content */
main {
    padding: 2rem;
}

/* Sections */
section {
    margin-bottom: 2rem;
    padding: 2rem;
    background: linear-gradient(135deg, #fff, #f0f0f0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background 0.3s ease;
}

section:hover {
    transform: scale(1.02);
}
#contact {
    margin-bottom: 10px;
}
/* Projects */
.project {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); /* Lift effect on hover */
}

/* Footer */
footer {
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Vibrant gradient */
    color: #fff;
    text-align: center;
    padding: 1rem 2;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Socials */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}
